@model DrawShip.Viewer.IndexViewModel
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>DrawShip detail</title>

	<style>
		body {
			padding: 0px;
			margin: 0px;
			font-family: Tahoma;
			font-size: 14px;
		}

		.drawing-title {
			font-size: 14px;
			margin: 0px;
			padding: 0px;
			background: #ffff88;
			padding-bottom: 2px;
			margin-bottom: 2px;
			border-bottom: 1px solid #888800;
			font-weight: normal;
			position: relative;
		}

		.drawing-title .powered-by {
			position: absolute;
			right: 0px;
		}
	</style>
</head>
<body>
	<h2 class="drawing-title">
		Info
		<span class="powered-by">Powered by <a href="https://github.com/laingsimon/draw-ship#drawship" target="_blank">DrawShip</a></span>
	</h2>
    @if (Model.DirectoryKey != null)
    {
        <p>Files</p>
        <ul>
            @foreach (var entry in Model.Files)
            {
                <li>
                    <a href="/@Model.DirectoryKey/@entry">@entry</a>
                </li>
            }
        </ul>
    }
	<p>Registered paths</p>
	<ul>
		@foreach (var path in Model.Paths)
		{
		<li>
            <a href="/@path.Key"><b>@path.Key</b></a> &rarr; @path.Value
		</li>
		}
	</ul>

	<ul>
		<li>
			Executing path: <b>@Model.ExecutingPath</b>
		</li>
	</ul>

</body>
</html>