@model DrawShip.Viewer.NotFoundViewModel
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>DrawShip - diagram not found</title>

    <style>
        body {
			padding: 0px;
			margin: 0px;
		}

        .drawing-title-position {
			margin: 0px;
			padding: 0px;
			position: absolute;
		    left: 0px;
		    right: 0px;
		    top: 1px;
		    height: 28px;
            z-index: 1;
		}

        .drawing-title-style {
			background: #EEEEEE;
			border-bottom: 1px solid #D0D0D0;
            border-top: 1px solid #D0D0D0;
        }

		.drawing-title {
			font-family: Tahoma;
			font-size: 14px;
			font-weight: normal;
		    z-index: 1000;
		    left: 10px;
		    line-height: 28px;
		}

		.drawing-title .powered-by {
			position: absolute;
			right: 5px;
		}

        div.heading-clear {
            margin-top: 30px;
        }

        div.content {
            font-family: Tahoma;
            padding: 5px;
            font-size: 12px;
        }

        p.error {
            color: #ff0000;
        }
    </style>
</head>
<body>
    <div class="drawing-title-position drawing-title-style"></div>
    <h2 class="drawing-title-position drawing-title">
        <text>
            Drawing not found
        </text>
        <span class="powered-by">Powered by <a href="https://github.com/laingsimon/draw-ship#drawship" target="_blank">DrawShip</a></span>
    </h2>
    <div class="heading-clear"></div>
    <div class="content">
        <p class="error">
            The drawing you requested <b>@Model.RequestedFile</b> could not be found
        </p>
        <p>Did you mean one of these drawings?</p>

        @if (Model.DirectoryKey != null)
        {
            <p><b>Drawings in current directory</b></p>
            <ol>
                @foreach (var entry in Model.Files)
                {
                    <li>
                        <a href="/@Model.DirectoryKey/@entry">@entry</a>
                    </li>
                }
            </ol>
        }
    </div>

</body>
</html>