<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="defaultLibraryPath" value="D:\Simon\Development\preview-io"/>
		<add key="library:foo" value="c:\some\path"/>
		<add key="ShapeNames" value="azure" />
	</appSettings>
	<system.web>
		<httpHandlers>
			<add path="*.xml" verb="GET" type="DrawShip.Handler.HttpHandler, DrawShip.Handler"/>
		</httpHandlers>
	</system.web>
	<system.webServer >
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add path="*.xml" verb="GET" type="DrawShip.Handler.HttpHandler, DrawShip.Handler" name="handler" />
		</handlers>
	</system.webServer>
</configuration>